/* app.component.css */
.spacer {
  flex: 1 1 auto;
}

a.active-link {
  font-weight: bold;
  color: white;
}

mat-drawer-container {
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
}
